* {
  margin: 0;
  padding: 0;
}
body {
  display: relative;
  font-family: 'montserrat', sans-serif;
  font-size: x-large;
  overflow-x: hidden;
  background-image: url(gambar/bgutama.jpg);

  background-size: cover;
  height: 100vh;
}
/* Navbar */
nav {
  display: flex;
  background-color: 0, 0, 0, 0.5;
  justify-content: space-around;
  color: white;
  height: 50px;
  align-items: center;
}
nav .logo {
  font-family: 'Pacifico', cursive;
  letter-spacing: 3px;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
}
nav ul li a:hover {
  color: white;
}

/* hamburger menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s;
}

/* hambureger menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: grey;
  transform: rotate(45deg) translate(-2px, -2px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: grey;
  transform: rotate(-45deg) translate(-2px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* halaman utama */
.txtarea {
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.123);
  margin: auto;
  width: 1000px;
  height: 250px;
  border-radius: 50px;
  margin-top: 3%;
  position: relative;
  text-align: left;
  padding-left: 1.5%;
  padding-top: 1.5%;
  justify-content: flex-end;
  color: black;
}
footer {
  background-color: rgba(99, 99, 99, 0.575);
  margin-top: 15%;
  height: 100px;
  width: 100%;
  position: fixed;
}
footer p {
  text-align: center;
  color: black;
}
footer p a {
  text-decoration: none;

  color: white;
}
/* responsive breakpoint */

/* ukuran device tablet*/
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
  footer {
    background-color: rgba(255, 255, 255, 0.432);
    height: 50vh;
  }
}

/* ukuran device mobile*/
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: 0, 0, 0, 0.5;
    z-index: 1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }
  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }
}

/* ukuran text area mobile device */
@media screen and (max-width: 576px) {
  .txtarea {
    width: 30vh;
    height: 35vh;
    border-radius: 2%;
    margin-left: 10 auto;
    display: relative;
    font-size: small;
    position: relative;
  }
  footer {
    background-color: rgba(255, 255, 255, 0.432);
    height: 50vh;
  }
}
.txtarea a {
  text-decoration: none;
  color: white;
}
