* {
  margin: 0;
  padding: 0;
}
body {
  display: relative;
  font-family: 'montserrat', sans-serif;
  font-size: x-large;
  overflow-x: hidden;
  background-image: url(../gambar/bgg.jpg);

  background-size: cover;
  height: 100vh;
}
/* Navbar */
nav {
  display: flex;
  background-color: 0, 0, 0, 0.5;
  justify-content: space-around;
  color: white;
  height: 50px;
  align-items: center;
}
nav .logo {
  font-family: 'Pacifico', cursive;
  letter-spacing: 3px;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
}
nav ul li a:hover {
  color: white;
}

/* hamburger menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s;
}

/* hambureger menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: grey;
  transform: rotate(45deg) translate(-2px, -2px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: grey;
  transform: rotate(-45deg) translate(-2px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* responsive breakpoint */

/* ukuran device tablet*/
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}
/* ukuran device mobile*/
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: 0, 0, 0, 0.5;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }
  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }
}
/* MATAHRI */
.sun img {
  width: 200px;
  height: 200px;
  margin-left: 100px;
  margin-top: 20px;
}
.sun p {
  margin-left: 120px;
  color: white;
}
/* mercury */
.mercury img {
  width: 180px;
  height: 180px;
  margin-left: 550px;
}
.mercury p {
  margin-left: 550px;
  color: white;
}
/* venus */
.venus img {
  width: 175px;
  height: 175px;
  margin-left: 200px;
}
.venus p {
  margin-left: 200px;
  color: white;
}
/* earth */
.earth img {
  width: 165px;
  height: 165px;
  margin-left: 630px;
}
.earth p {
  margin-left: 630px;
  color: white;
}
/* mars */
.mars img {
  width: 165px;
  height: 165px;
  margin-left: 350px;
}
.mars p {
  margin-left: 350px;
  color: white;
}
/* saturn */
.saturn img {
  width: 165px;
  height: 165px;
  margin-left: 680px;
}
.saturn p {
  margin-left: 750px;
  color: white;
}
/* uranus */
.uranus img {
  width: 165px;
  height: 100px;
  margin-left: 900px;
}
.uranus p {
  margin-left: 900px;
  color: white;
}
/* neptune */
.neptune img {
  width: 100px;
  height: 100px;
  margin-left: 1100px;
}
.neptune p {
  margin-left: 1100px;
  color: white;
}
/* device mobile */
@media screen and (max-width: 576px) {
  #container img {
    margin: 7% auto;
    margin-left: 25%;
  }
  #container p {
    margin: 7% auto;
    margin-left: 20%;
  }
}
